* {
	box-sizing: border-box;
	font-family: 'Inconsolata', monospace;
	margin: 0px;
}

.header-title {
	font-size: 60px;
	color: #4DD0E1;
	padding-left: 40px;
	padding-top: 30px;
	text-align: left;
	margin-top: 0px
}

.header {
	color: #4DD0E1;
}

.header p {
	display: inline-block;
	vertical-align: top;
}

.header a {
	color: #4DD0E1;
}

.educators {
	font-size: 15px;
	float: right;
	padding-right: 40px;
	padding-top: 30px;
}

.footer-links {
	font-size: 15px;
	padding-right: 0px;
	padding-top: 10px;
	float: center;
	display: inline-block;
	min-width: 75px;
	color: #4DD0E1;
}

.full {
	width: 100%;
	height: 100px;
}

.pseudo-vert {
	padding-top: 150px;
	padding-bottom: 30px;
	text-align: center;
}

.class-id-input {
	height: 50px;
	width: 250px;
	border-radius: 15px;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:active {
	text-decoration: none;
}

input{
	text-align:center;
	font-size: 30px;
}

form {
	height:1000px;
	width:1000px;
}

body {
	width: 100%;
	background: #E0E0E0;
}

.info-body {
	padding: 25px;
}


.footer {

    height:24px; // Replace with the height your footer should be
    width: 100%; // Don't change
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0pt;
    left: 0pt;

}   

.footer_contents {

    height:24px; // Replace with the height your footer should be
    width: 1000px; // Visible width of footer
    margin:auto;
    text-align: center;

}
